Profiles/Mach4*
Profiles/AvidCNC/Backups/
Modules/AvidCNC
Modules/AddOns
Modules/socket
Modules/ssl
Subroutines
*.dat
Docs/*.*
*.dll
*.exe
GcodeFiles/
Lang
LuaExamples
*.ico
ZeroBraneStudio
Pmc
Tables
Docs
Wizards
Licenses
Plugins

Screens/Blank.set
Screens/Engrave_Marking.set
Screens/wx4.set
Screens/wx6.set
Screens/wxLathe.set
Screens/wxPlasma.set
Screens/wxRouter.set
Screens/wxTangential.set
Screens/AvidCNC.set
*.luac
*.mcc
Modules/ssl.lua
Modules/socket.lua
Modules/smtp-Example.lua
Modules/mysql-Example.lua
Modules/mime.lua
Modules/md5.lua
Modules/mcTouchOff.lua
Modules/mcProbing.lua
Modules/mcMasterModule.lua
Modules/mcErrorCheck.lua
Modules/mcAutoTool.lua
Modules/luars232-Example.lua
Modules/luacom-Example.lua
Modules/ltn12.lua
Modules/lfs-Example.lua
Modules/int18n.lua
Modules/crc32.lua
Profiles/AvidCNC/Backups/Machine.ini.avid_default_bak
Profiles/AvidCNC/Backups/SettingsBackup_V2.3.8.txt
Profiles/AvidCNC/Macros/macroTests.mcs
.DS_Store
*.zip
